{% extends "base.html" %} {% block content %}

<div class="container pt-5 pb-5">
  <div
    class="card border-0 rounded-4 bg-white"
    style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3)"
  >
    <div class="row">
      <div class="col-lg-6 d-lg-block d-none">
        <img
          src="../static/assets/img/bg.jpg"
          style="
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            filter: brightness(0.8);
            object-fit: cover;
          "
          class="w-100 h-100"
          alt=""
        />
      </div>
      <div class="col-lg-6 p-5">
        <h2 class="text-center text-primary">
          <img
            src="../static/assets/img/logo.png"
            width="60px"
            class="me-2"
            alt=""
          />
          Đăng nhập
        </h2>
        <form action="" method="post" class="p-lg-3 p-0 pe-lg-5 ps-lg-5">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.email.label(class="form-label") }} {{
            form.email(class="form-control") }} {% if form.email.errors %} {%
            for error in form.email.errors %}
            <div class="alert alert-danger mt-2">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %} {% endif %}
          </div>
          <div class="mb-3">
            {{ form.password.label(class="form-label") }} {{
            form.password(class="form-control") }} {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="alert alert-danger mt-2">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %} {% endif %}
          </div>

          {{ form.submit(class="btn btn-primary text-white form-control mt-3")
          }}
          <span class="d-block text-center mt-3">
            Chưa có tài khoản?
            <a href="/signup" class="text-decoration-none">Đăng ký</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
