{% extends "base.html" %} {% block content %}
<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="card border-0 rounded-4 bg-white p-4 shadow">
        {% if task %}
        <h2>Edit Task</h2>
        {% else %}
        <h2>New Task</h2>
        {% endif %}
        <form method="POST" action="/new_task">
          {{ form.hidden_tag() }} {% if task %}
          <input type="hidden" name="id" value="{{ task.task_id }}" />
          {% else %}
          <input type="hidden" name="id" value="0" />
          {% endif %}

          <div class="form-group mb-3">
            {{ form.description.label }} {{ form.description(
            class="form-control") }} {% if form.description.errors %}
            <ul class="errors">
              {% for error in form.description.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="form-group mb-3">
            {{ form.deadline.label }} {{ form.deadline(class="form-control") }}
            {% if form.deadline.errors %}
            <ul class="errors">
              {% for error in form.deadline.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="form-group mb-3">
            {{ form.project.label }} {{ form.project(class="form-control") }} {%
            if form.project.errors %}
            <ul class="errors">
              {% for error in form.project.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="form-group mb-3">
            {{ form.status.label }} {{ form.status(class="form-control") }} {%
            if form.status.errors %}
            <ul class="errors">
              {% for error in form.status.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="form-group mb-3">
            {{ form.priority.label }} {{ form.priority(class="form-control") }}
            {% if form.priority.errors %}
            <ul class="errors">
              {% for error in form.priority.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          {{ form.submit(class="btn btn-primary") }}
          <a class="btn btn-secondary" href="/home">Quay lại</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
